#content{
    /*background-color: black;*/
    background-image: url("../img/bkg_with_logo.png") ;
    background-size: 100%;
    width: 100%;
    height: 746px;
    overflow: hidden;
}


#begin{
    margin-top: 200px;
    text-align: center;
    width: 375px;
    height: 142px;
    font-size: 50px;
    background: #FFD069;
    border: 1px solid #000000;
    box-shadow: 6px 10px 6px 4px rgba(0,0,0,0.50), inset 0 -7px 9px 0 rgba(0,0,0,0.50);
    border-radius: 30px;
}

#begin p{
    line-height: 142px;
    height: 100%;
    width: 100%;
    font-family: WeibeiSC-Bold;
    font-size: 60px;
    color: #000000;
    text-align: center;
}

#exit{
    font-size: 40px;
    margin-top: 81px;
    text-align: center;
    width: 312px;
    height: 118px;
    background: #FFD069;
    border: 1px solid #000000;
    box-shadow: 6px 10px 6px 4px rgba(0,0,0,0.50), inset 0 -7px 9px 0 rgba(0,0,0,0.50);
    border-radius: 30px;

}

#exit{
    line-height: 118px;
    font-family: WeibeiSC-Bold;
    font-size: 60px;
    color: #000000;
    text-align: center;
}

